[Desktop Entry]
Type=Application
Name=Miryu Software Center
Name[de]=Miryu Software-Center
Name[fr]=Miryu Centre logiciel
Name[ja]=Miryu ソフトウェアセンター
Name[ko]=Miryu 소프트웨어 센터
Name[zh_CN]=Miryu 软件中心
Name[zh_TW]=Miryu 軟體中心
GenericName=Software Center
GenericName[de]=Software-Center
GenericName[fr]=Centre logiciel
GenericName[ja]=ソフトウェアセンター
GenericName[ko]=소프트웨어 센터
GenericName[zh_CN]=软件中心
GenericName[zh_TW]=軟體中心
Comment=A modern RPM and Linglong package manager
Comment[de]=Eine moderne RPM- und Linglong-Paketverwaltung
Comment[fr]=Un gestionnaire de paquets RPM et Linglong moderne
Comment[ja]=モダンな RPM および Linglong パッケージマネージャー
Comment[ko]=현대적인 RPM 및 Linglong 패키지 관리자
Comment[zh_CN]=现代 RPM 及玲珑软件包管理器
Comment[zh_TW]=現代 RPM 及玲瓏軟體包管理器
Exec=miryu-software-center %f
Icon=miryu-package-manager
Terminal=false
Categories=System;PackageManager;Qt;KDE;
MimeType=application/x-rpm;
StartupNotify=true
StartupWMClass=miryu
NoDisplay=false
